.inputfield{
padding-left: 15px;
border-radius: 25px;
border:solid 2px;	
}
.form{
	padding-left: 15px;
	font-weight: bold;
	font-size: 10px;
}
.add{
	padding-left: 25px;
}
.submit{
	padding-left: 200px;
}
.font{
	font-size: 10px;
	font-family: sans-serif;
}
.image{
	height:100pt;
	width:100pt;
}
.video{
	height: 150pt;
	width: 150pt;
}
table, th, td, tr{
	 border: 2px solid black;
}
